<div class="products-page">

  <div class="sorting">
    <mat-form-field>
      <mat-label>Sort by Name:</mat-label>
      <mat-select [formControl]="productsSortControl">
        <mat-option [value]="'none'">None</mat-option>
        <mat-option [value]="'asc'">Ascending</mat-option>
        <mat-option [value]="'desc'">Descending</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="product-cards-container">
    @for (product of products; track product.id) {
      <app-product-card
        [item]="product"/>
    }
  </div>

  @if (canShowMore() && !loading) {
    <div class="show-more">
      <button mat-raised-button color="primary" (click)="showMore()">Show More</button>
    </div>
  }
  @if (loading) {
      <div class="loader-wrapper loading">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </div>
  }
</div>
