<div class="users-page">
  <h2>Users</h2>
  <button (click)="createUser()">Create User</button>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Email</th>
      <th>First Name</th>
      <th>Last Name</th>
        <th>Avatar</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.first_name }}</td>
      <td>{{ user.last_name }}</td>
      <td>
        <img [ngSrc]="user.avatar || 'assets/images/fallback-image.png'" alt="Avatar" width="50" height="50">
      </td>
      <td>
        <button (click)="editUser(user)">Edit</button>
        <button (click)="deleteUser(user)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
