@import "variables";

.persons-page {
  padding: 1rem;
  width: calc(100vw - $sidebar-width);
  min-height: 40vh;
  position: relative;

  .search-container {
    margin-bottom: 1rem;
    input {
      width: 100%;
      padding: 8px;
      font-size: 1rem;
      box-sizing: border-box;
    }
  }

  table {
    min-width: calc(100vw - $sidebar-width);
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;

    th, td {
      padding: 8px;
      border: 1px solid $border-color;
      text-align: left;
    }

    th {
      background-color: $th-bg;
    }
  }
}
