<div class="dashboard-layout">
  <nav class="sidebar">
    <h2>Library Admin</h2>
    <ul>
      <li mat-ripple>
        <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <img ngSrc="/assets/images/dashboard.png" alt="dashboard" height="25" width="25">
          Dashboard
        </a>
      </li>
      <li mat-ripple>
        <a routerLink="/dashboard/users" routerLinkActive="active">
          <img ngSrc="/assets/images/users.svg" alt="users" height="25" width="25">
          Users
        </a>
      </li>
      <li mat-ripple>
        <a routerLink="/dashboard/products" routerLinkActive="active">
          <img ngSrc="/assets/images/products.webp" alt="products" height="25" width="25">
          Products
        </a>
      </li>
      <li mat-ripple>
        <a routerLink="/dashboard/books" routerLinkActive="active">
          <img ngSrc="/assets/images/books-stack-of-three.svg" alt="books" height="25" width="25">
          Books
        </a>
      </li>
      <li mat-ripple>
        <a routerLink="/dashboard/persons" routerLinkActive="active">
          <img ngSrc="/assets/images/persons.svg" alt="persons" height="25" width="25">
          Persons
        </a>
      </li>
    </ul>
  </nav>
  <header class="header">
    <h1>{{currentTitle}}</h1>
    <button mat-stroked-button color="accent" (click)="logout()">Logout</button>
  </header>

  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
