@import "variables";

.dashboard-layout {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.sidebar {
  grid-area: 1 / 1 / 10 / 2;
  width: $sidebar-width;
  background-color: $primary-bg;
  color: $text-color-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid black;
}

.sidebar h2 {
  margin-bottom: 1rem;
  text-align: center;
  position: sticky;
  top: 30px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  width: 100%;
  position: sticky;
  top: 160px;
}

.sidebar li {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: scale 0.3s;
  border-radius: 0.7rem;

  &:hover {
    scale: 1.08;
    opacity: 0.8;
  }
}

.sidebar a,
.sidebar button:not(.toggle-btn) {
  display: flex;
  color: $text-color-white;
  text-decoration: none;
  padding: 10px;
  width: 100%;
  border: none;
  background: none;
  cursor: pointer;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.7rem;

  &.active {
    background-color: $active-bg;
    color: $text-color-black;
  }
}

.sidebar a:hover,
.sidebar button:not(.toggle-btn):hover {
  background-color: $secondary-bg;
}

.toggle-btn {
  display: none;
  position: absolute;
  right: 10px;
  top: calc($header-height/2 - 20px);
  color: $text-color-white;
  z-index: 9;
}

.header {
  grid-area: 1 / 2 / 2 / 6;
  background-color: $secondary-bg;
  color: $text-color-white;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  height: $header-height;
  border: 1px solid;
  border-radius: 1rem;
  justify-content: space-between;
  position: sticky;
  top: 10px;
  z-index: 1;
  width: calc(100vw - $sidebar-width - 100px);

  h1 {
    margin-bottom: 0;
  }
}

.content {
  margin-top: calc($header-height + 1rem);
  grid-area: 1 / 2 / 10 / 6;
  padding: 1rem;
  overflow-y: auto;
  width: calc(100vw - $sidebar-width - 100px);
}

@media (max-width: 768px) {

  .toggle-btn {
    display: block;
  }

  .dashboard-layout {
    display: block;
  }

  .sidebar {
    transition: width 0.3s ease;
    position: fixed;
    height: 100vh;
    z-index: 1000;

    &.collapsed {
      width: 0;
      padding: 0;
      border: none;

      .toggle-btn {
        right: -50px;
        background: $secondary-bg;
      }

      ul, h2 {
        opacity: 0;
      }
    }
  }

  .sidebar a,
  .sidebar button {
    text-align: center;
    padding: 10px;
    white-space: nowrap;
  }

  .header {
    width: calc(100% - 33px);
    margin-left: 0;
    h1 {
      margin-left: 40px;
    }
  }

  .content {
    width: 100%;
    margin-left: 0;
  }
}
